services:
  db:
    image: postgres:15
    container_name: my_postgres
    restart: always
    environment:
      POSTGRES_USER: bloguser
      POSTGRES_PASSWORD: blogpassword
      POSTGRES_DB: blog_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgres://bloguser:blogpassword@db:5432/blogdb
    ports:
      - "8000:8000"

  nginx:
    build: ./nginx
    depends_on:
      - backend
    ports:
      - "80:80"

volumes:
  db_data: