name: CI/CD Pipeline

on:
  push:
    branches:
      - master
      - feature/**
      - bugfix/** 
      - develop

  pull_request:
    branches: [ master]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: bloguser
          POSTGRES_PASSWORD: blogpassword
          POSTGRES_DB: blogdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.3"

      - name: Install dependencies
        run: |
          cd backend
          pip install -r requirements.txt

      - name: Run tests
        env:
          DB_HOST: localhost
          DB_NAME: blogdb
          DB_USER: bloguser
          DB_PASSWORD: blogpassword
          DB_PORT: 5432
          DATABASE_URL: postgresql://bloguser:blogpassword@localhost:5432/blogdb
        run: |
          cd backend
          pytest tests/


  build-and-push:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/my-backend:latest
            ${{ secrets.DOCKER_USERNAME }}/my-backend:${{ github.sha }}

      - name: Build and Push Nginx
        uses: docker/build-push-action@v5
        with:
          context: ./nginx
          file: ./nginx/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/my-nginx:latest
            ${{ secrets.DOCKER_USERNAME }}/my-nginx:${{ github.sha}}


  security-scan:
    needs: build-and-push
    runs-on: ubuntu-latest
    permissions:
      security-events: write 
    
    steps:
      - name: Run Trivy vulnerability scanner on backend
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ secrets.DOCKER_USERNAME }}/my-backend:latest'
          format: 'sarif'
          output: 'trivy-results-backend.sarif'
          
      - name: Upload Trivy results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: 'trivy-results-backend.sarif'
          category: 'Backend Vulnerability Scan'
          
      - name: Run Trivy vulnerability scanner on nginx
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ secrets.DOCKER_USERNAME }}/my-nginx:latest'
          format: 'sarif'
          output: 'trivy-results-nginx.sarif'
          
      - name: Upload Trivy results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: 'trivy-results-nginx.sarif'    
          category: 'Nginx Vulnerability Scan'

  deploy-staging:
  needs: security-scan
  runs-on: ubuntu-latest

  steps:
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Deploy to EC2 using SSM
      uses: aws-actions/aws-ssm-send-command@v1
      with:
        instance-ids: ${{ secrets.EC2_INSTANCE_ID }}
        document-name: AWS-RunShellScript
        comment: "Deploy latest backend and nginx"
        parameters: |
          commands:
            - cd /home/ubuntu/blog-platform
            - docker-compose pull
            - docker-compose up -d --remove-orphans
            - docker system prune -f